
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="details content">
    <h3><%= order.title %></h3>
      <!-- <h3 style="display: inline;"><%= order.title %></h3>
      <h6 style="display: inline;"><%= order.createdAt %></h6> -->

    <h3><%= order.major %></h3>
    <div class="content">
      <p><%= order.description %></p>
    </div>

 <!-- comments -->
<div class="container pt-5">
  <div class="container">
<form action="/orders/<%=order._id%>" method="POST">
  <div class="form-group">
    <textarea class="form-control rounded-0" name="comment" placeholder="Leave a comment here" rows="4"></textarea>
  </div>
  <div class="form-group pt-2">
    <button class="btn rounded-0 btn-primary w-100">Comment!</button>
  </div>
</form>
  </div>
</div>

  
  
    
    <a class="delete" data-doc="<%= order._id %>">
      <img src="/trashcan.svg" alt="delete icon">
    </a>
  </div>

  <script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
      const endpoint = `/orders/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    });
  </script>

  <%- include("./partials/page.ejs") %>
</body>
</html>