
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="orders content">
    <h2 class="text-center">All Orders</h2>
    <% if (orders.length > 0) { %>
      <% orders.forEach(order => { %>
        <a class="single" href="/orders/<%= order._id %>">

        <h3 class="title"><%= order.title %></h3>
        <p class="subject"><%= order.major %></p>
        </a>
        
      <% }) %>
    <% } else { %>
      <p>There are no orders to display...</p>
    <% } %>
  </div>

  <div class="d-flex align-items-center justify-content-center pb-4">
    <button type="button" class="btn btn-danger"><a href="/orders/new-order"><span>Create new order</span></a></button>
  </div>
  
  <%- include("./partials/page.ejs") %>
</body>
</html>