
<%- include("./partials/head.ejs") %>
  <div class="orders content">
    <ul>
      <% if (user) { %>
        <li>Welcome, <%= user.name %></li>
        
      <% } %>
    </ul>
    <h2 class="text-center">All Orders</h2>
    <% if (orders.length > 0) { %>
      <% orders.forEach(order => { %>
        <a class="single" href="/orders/<%= order._id %>">

        <h3 class="title"><%= order.title %></h3>
        <p class="subject"><%= order.major %></p>
        </a>
        
      <% }) %>
    <% } else { %>
      <p class="text-center">There are no orders to display...</p>
    <% } %>
  </div>
  <!-- <button class="rounded-0 btn-primary"><i class="fa fa-folder"></i> Save</button> -->
  <div class="d-flex align-items-center justify-content-center pb-4">
    <a href="/orders/new-order"><button class="bnt rounded-0 btn-primary w-100"> Create new order ✍️</button></a>
    <!-- <button type="button" class="btn btn-danger"><a href="/orders/new-order"><span>Create new order</span></a></button> -->

  </div>
  
  <%- include("./partials/page.ejs") %>
</body>
</html>